/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/project/.idea
/RUNNING_PID
/.settings
node_modules
atlassian-ide-plugin.xml
/bower_components
/vendor_def
*.log
/artifact
/api
/index.html
/published/js/**/*js
*.css
/build/
/lib/