<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../scripts/vendor_js/jquery.min.js"></script>
		<script src="../scripts/vendor_js/angular.js"></script>
 		<script src="../scripts/controllers/controllers.js"></script>
		<script src="../scripts/service/service.js"></script>
	</head>
	<body>
		<div ng-controller="MyController as main">
			<div>
					hoge : <input type="number" ng-model="hoge">
					fuga : <input type="number" ng-model="fuga">
					<p>合計: {{sume}}</p>
			</div>
			<pre>
				<ul hierarcy-fast>
					<li ng-repeat="(key,val) in datas">{{ key }}{{ val }}</li>
					<li ng-repeat="data in datas">{{ $index }}</li>
					<li ng-repeat="data in datas">{{ data.name }}</li>
					<li ng-repeat="data in datas">{{ ($first) ? '○' : '×' }}</li>
					<li ng-repeat="data in datas">{{ ($even) ? '○' : '×' }}</li>
					<li ng-repeat="data in datas">{{ ($middle) ? '○' : '×' }}</li>
					<li ng-repeat="data in datas">{{ data.age | number}}</li>
					<li>{{ datas | json}}</li>
				</ul>
			</pre>
		</div>
		<div ng-show="show_loading">
			読み込み中...
		</div>
		<li ng-repeat="item in items">
			{{ item.id }} - {{ item.name }}
		</li>
		<div api-directive></div>
		<conpile-link>

		</conpile-link>
		<div ng-controller="Child">
	    <label>Name:</label>
	    <input type="text" ng-model="name" placeholder="Enter a name here" />
	    <hr/>
	    <h1>{{name}}</h1>
		</div>
</body>
</html>
