<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
 		<script src="./scripts/bower_components/jQuery/dist/jQuery.min.js"></script>
 		<script src="./scripts/bower_components/angular/angular.min.js"></script>
 		<script src="./scripts/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
 		<script src="./scripts/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
 		<script src="./scripts/bower_components/angular-message-format/angular-message-format.min.js"></script>
		<script src="./scripts/bower_components/lodash/lodash.min.js"></script>
		<script src="./scripts/controllers/extra/extra.js"></script>
		<link href="./stylesheets/dest/common.css" rel="stylesheet" type="text/css" />
		<link href="/favicon.ico" type="image/x-icon" rel="icon" />
		<title>tabibito</title>
	</head>

	<body ng-app="myApp">
	<div ng-controller="SampleController as c">
			<input type="checkbox" name="check" mg-model="checked"><label for="check" ng-init="checked=true">only yes , toggle yes & no</label>
			<div>filter list </div>
			<div>
				<h2>from get ServiceFunction</h2>
				<ul>
					<li ng-if="checked" ng-repeat="faf in c.getedService.data"><!-- Service list-->
					{{faf.namae}}
					{{$index}}
					</li>
				</ul>
		</div>
	  </div>
	</body>
</html>
